<ion-view class="intro"
          hide-nav-bar="true">


    <!--scroll="false" --- whether to allow scrolling of content default to true-->
    <!--padding="true"; whether to add padding to the content. Defaults to true on iOS, false on Android-->
    <ion-content scroll="false"
                 padding="true"
                 class="center-content padding">
      <img class="logo" src="img/rsdlogo.jpg"
           alt="">


    </ion-content>

    <ion-footer-bar class="bar-positive">
      <button class="button button-clear button-full"
              ng-click="login()" >Login with Facebook
      </button>

    </ion-footer-bar>






</ion-view>
